$background-color : #574b66;
$card-color: #dcd3ea;

$poke-red: #f15324;
$poke-black: #333;
$poke-white: #fff;
$indic-red: #f64c4c;
$indic-black: #ff514f00;

$font-white: #fff;
$font-black: #333;

$button-primary: #77a1d3;
$button-secondary: #79cbca;

$button-catched-primary: #db5555;
$button-catched-secondary: #c26767;
