@import 'variables';

@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
}

html {
    overflow-y:scroll;
}

body {
    margin: 0;
    font-family: 'Press Start 2P';
    background-color: $background-color;
    color: $font-black;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    width: auto;
    height: auto;
}
